

*{
    fx-light: #363636;
    fx-lighter: derive(fx-light, 30%);
    fx-medium: derive(-fx-base, 10%);
    fx-dark: #252525;
    fx-darker: derive(fx-theme, -50%);
    fx-text-dark: rgb(187, 187, 187);
}

.root *{
    -font-family: sans-serif;
    -fx-font-size: 12px;
    -fx-text-fill: fx-text-dark;
}


.root {
    fx-theme: #447885;
    -fx-base: fx-dark;
    -fx-control-inner-background: fx-medium;
    -fx-background-color: fx-dark;
    -fx-box-border: transparent;
    -fx-accent: derive(fx-dark, 30%);
    -fx-focus-color: transparent ;
}

.subsection {
    -fx-border-color:  #595959;
    -fx-border-radius: 5;
    -fx-padding: 3 3 3 3;
    -fx-border-width: 1;
    -fx-background-color: derive(fx-dark, 5%);
}


.button{
     -fx-text-fill: fx-text-dark;
     -fx-background-color: fx-light;
}

.button:hover{
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: derive(fx-theme, -10%);
}

.toggle-button {
     -fx-text-fill: fx-text-dark;
     -fx-background-color: fx-light;

}
.toggle-button:hover{
     -fx-text-fill: -fx-text-base-color;
     -fx-background-color: derive(fx-theme, -10%);
}

.toggle-button:selected{
     -fx-text-fill: -fx-text-base-color;
     -fx-background-color: fx-theme;
}

.color-picker{
    -fx-color-label-visible: true;
    -fx-background-color: fx-light;
}

.color-picker:hover{
    -fx-background-color: fx-theme;
}

.color-picker > .arrow-button > .arrow {
    -fx-background-color: transparent;
}

.choice-box{
    -fx-text-fill: fx-text-dark;
    -fx-background-color: fx-light;
    -fx-alignment: center;
}

.choice-box > .list-cell{
    -fx-alignment: center;
}

.choice-box:hover{
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: fx-theme;
}

.choice-box > .open-button > .arrow {
    -fx-background-color: fx-text-dark;
}

.choice-box:hover > .open-button > .arrow {
    -fx-background-color: -fx-text-base-color;
}

.titled-pane > .title:hover{
    -fx-background-color: fx-theme;
}

.titled-pane > .title{
    -fx-background-color: derive(fx-dark, -30%);
    -fx-border-color: derive(fx-medium, 20%);
    -fx-border-width: 1 1 1 1;
    -fx-font-weight: bold;
}  

.titled-pane > .content{
    -fx-background-color: fx-dark;
    -fx-border-color: derive(fx-medium, 20%);
    -fx-border-width: 1 1 1 1;
}

.titled-pane > .title > .arrow-button > .arrow{
    -fx-background-color: fx-text-dark
}


.toggle-switch > .thumb{
    -fx-background-color: derive(fx-text-dark, -20%);
}

.toggle-switch:selected > .thumb{
    -fx-background-color: fx-text-dark;
}

.toggle-switch > .thumb-area{
    -fx-background-color: fx-light;
}

.toggle-switch:selected > .thumb-area{
    -fx-background-color: fx-theme;
}

.toggle-switch  .label{
    -fx-text-fill: fx-text-dark;
}

.jfx-toggle-node:selected{
    -fx-background-color:fx-theme;
}

.ikonli-font-icon{
    -fx-icon-color: fx-text-dark;
}

.start-icon{
    -fx-icon-color: rgb(13, 179, 54);
}

.stop-icon{
    -fx-icon-color: rgb(224, 44, 44);
}

.spinner{
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

.spinner > .increment-arrow-button  {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

.spinner > .increment-arrow-button > .increment-arrow {
    -fx-background-color: fx-text-dark;
}

.spinner .decrement-arrow-button  {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

.spinner > .decrement-arrow-button > .decrement-arrow {
    -fx-background-color: fx-text-dark;
}

.slider .track {
    -fx-background-color: fx-light;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.083333em; /* 1 */
    -fx-pref-height:3;
}

.slider .axis {
    -fx-tick-label-fill: fx-text-dark;
}

.slider .fill {
    -fx-padding: 0.083333em; /* 1 */
}

.slider .thumb{
    -fx-background-color: fx-theme;
}


.label{
     -fx-text-fill: fx-text-dark;
}

.bigLabel{
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.darkLabel{
    -fx-text-fill: derive(fx-text-dark, -20%);
}

.canvas{
    -fx-background-color: antiquewhite, white ;
    -fx-background-insets: 0, 20 ;
    -fx-padding: 20 ;
}


.split-pane:horizontal
{
    -fx-padding: 0;
    -fx-box-border: transparent;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: -fx-base;
}

.tab{
    -fx-background-color: derive(fx-dark, -40%);
    -fx-background-radius: 0;
    -fx-border-color: derive(fx-dark, 20%);
    -fx-border-width: 0 0 3 0;
    -fx-text-fill: derive(fx-text-dark, -30%);
}

.tab:selected{
    -fx-background-color: derive(fx-theme, -20%);
    -fx-border-color: fx-theme;
     -fx-border-width: 0 0 3 0;
     fx-text-fill: fx-text-dark;
}

.tab-label {
    -fx-text-fill: fx-text-dark ;
    -fx-font-weight: bold;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-pref-height: 35
}

.tab:hover{
    -fx-background-color: derive(fx-theme, -30%);
    -fx-text-fill: -fx-text-base-color;
}

.tab-pane > .tab-header-area > .tab-header-background{
       -fx-background-color: -fx-base;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.scroll-pane .viewport{
    -fx-background-color: fx-dark;
}

.scroll-bar:vertical > .thumb{
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

.scroll-bar:vertical {
    -fx-unit-increment: 10 ;
    -fx-block-increment: 50 ;
}


.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}


.text-area {
    text-area-background: derive(fx-dark, 7%), -fx-control-inner-background;
    -fx-background-color: transparent;
    -fx-border-color:derive(-fx-base, 20%);
    -fx-border-width: 1 1 1 1;
    -fx-background-insets: 0;
    -fx-font-size: 14px;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

.text-field {
    -fx-background-color: derive(fx-dark, 10%);
}

.separator:horizontal *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #5D5D5D;
}

.jfx-slider > .colored-track {
    -fx-background-color : fx-theme;
}


.jfx-slider > .animated-thumb {
    -fx-background-color: transparent;
}


.jfx-slider .slider-value {
    -fx-fill: transparent;
    -fx-stroke: transparent;
}


.progress-indicator:indeterminate{

    -fx-progress-color: fx-theme
}

.progress-indicator:indeterminate > .spinner{
     -fx-background-color: fx-dark;
}

.progress-bar{
    -fx-accent: fx-theme ;
}

.progress-bar > .track {
     -fx-background-color: fx-light;
}

.progress-bar .bar {
    -fx-padding: 8px;
    -fx-background-insets: 0;
}

.default-color0.chart-bar { -fx-bar-fill: #25b862; }

.popover > .border  {
    -fx-border-style: none;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-fill: #3D3D3D !important;
}


