

*{
    fx-light: #363636;
    fx-lighter: derive(fx-light, 30%);
    fx-medium: derive(-fx-base, 10%);
    fx-dark: #212121;
    fx-darker: derive(fx-dark, -50%);
    fx-text-dark: rgb(187, 187, 187);
    fx-text-light: derive(fx-text-dark, 50%);
}

.root *{
    -font-family: sans-serif;
    -fx-font-size: 12px;
    -fx-text-fill: fx-text-dark;
}


.root {
    fx-theme: #447885;
    -fx-base: fx-dark;
    -fx-control-inner-background: fx-medium;
    -fx-background-color: fx-dark;
    -fx-box-border: transparent;
    -fx-accent: derive(fx-dark, 30%);
    -fx-focus-color: transparent ;
}

.subsection {
    -fx-border-color:  #595959;
    -fx-border-radius: 5;
    -fx-padding: 5 5 5 5;
    -fx-border-width: 1;
    -fx-background-color: derive(fx-dark, 5%);
}


.button{
     -fx-text-fill: fx-text-dark;
     -fx-background-color: fx-light;
}

.button:hover{
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: derive(fx-theme, -10%);
}

.toggle-button {
     -fx-text-fill: fx-text-dark;
     -fx-background-color: fx-light;

}
.toggle-button:hover{
     -fx-text-fill: -fx-text-base-color;
     -fx-background-color: derive(fx-theme, -10%);
}

.toggle-button:selected{
     -fx-text-fill: -fx-text-base-color;
     -fx-background-color: fx-theme;
}

.sidemenu-button{
    -fx-background-color: fx-darker;
}

.sidemenu-button:hover{
    -fx-background-color: fx-light;
}

.sidemenu-button:selected{
    -fx-background-color: fx-light;
}

.sidemenu-button:selected > .custom-icon{
    -fx-background-color: fx-text-light;
}

.sidemenu-button:hover > .custom-icon{
    -fx-background-color: fx-text-light;
}

.sidemenu-button:hover .ikonli-font-icon{
   -fx-icon-color: fx-text-light;
}

.sidemenu-button:selected .ikonli-font-icon{
   -fx-icon-color: fx-text-light;
}

.color-picker{
    -fx-color-label-visible: true;
    -fx-background-color: fx-light;
}

.color-picker > .label{
    -fx-alignment: center;
}

.color-picker:hover{
    -fx-background-color: fx-theme;
}

.color-picker > .arrow-button > .arrow {
    -fx-background-color: transparent;
}

.choice-box{
    -fx-text-fill: fx-text-dark;
    -fx-background-color: fx-light;
    -fx-alignment: center;
}

.choice-box > .list-cell{
    -fx-alignment: center;
}

.choice-box > .label{
    -fx-alignment: center;
}

.choice-box:hover{
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: fx-theme;
}

.choice-box > .open-button > .arrow {
    -fx-background-color: fx-text-dark;
}

.choice-box:hover > .open-button > .arrow {
    -fx-background-color: -fx-text-base-color;
}

.titled-pane > .title:hover{
    -fx-background-color: fx-theme;
}

.titled-pane > .title{
    -fx-background-color: derive(fx-dark, -30%);
    -fx-border-color: derive(fx-medium, 20%);
    -fx-border-width: 1 1 1 1;
    -fx-font-weight: bold;
}  

.titled-pane > .content{
    -fx-background-color: fx-dark;
    -fx-border-color: derive(fx-medium, 20%);
    -fx-border-width: 1 1 1 1;
}

.titled-pane > .title > .arrow-button > .arrow{
    -fx-background-color: fx-text-dark
}


.toggle-switch > .thumb{
    -fx-background-color: derive(fx-text-dark, -20%);
}

.toggle-switch:selected > .thumb{
    -fx-background-color: fx-text-dark;
}

.toggle-switch > .thumb-area{
    -fx-background-color: fx-light;
}

.toggle-switch:selected > .thumb-area{
    -fx-background-color: fx-theme;
}

.toggle-switch  .label{
    -fx-text-fill: fx-text-dark;
}

.toggle-switch  .label{

}

.jfx-toggle-node:selected{
    -fx-background-color:fx-theme;
}

.ikonli-font-icon{
    -fx-icon-color: fx-text-dark;
}

.start-icon{
    -fx-icon-color: rgb(13, 179, 54);
}

.stop-icon{
    -fx-icon-color: rgb(224, 44, 44);
}

.spinner{
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

.spinner > .increment-arrow-button  {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

.spinner > .increment-arrow-button > .increment-arrow {
    -fx-background-color: fx-text-dark;
}

.spinner .decrement-arrow-button  {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

.spinner > .decrement-arrow-button > .decrement-arrow {
    -fx-background-color: fx-text-dark;
}

.slider .track {
    -fx-background-color: fx-light;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.083333em; /* 1 */
    -fx-pref-height:3;
}

.slider .axis {
    -fx-tick-label-fill: fx-text-dark;
}

.slider .fill {
    -fx-padding: 0.083333em; /* 1 */
}

.slider .thumb{
    -fx-background-color: fx-theme;
}


.label{
     -fx-text-fill: fx-text-dark;
}

.bigLabel{
    -fx-font-size: 25pt;
}

.darkLabel{
    -fx-text-fill: derive(fx-text-dark, -20%);
}

.parameterLabel{

}

.canvas{
    -fx-background-insets: 0, 20 ;
    -fx-padding: 20 ;
}


.tab{
    -fx-background-color: derive(fx-dark, -40%);
    -fx-background-radius: 0;
    -fx-border-color: derive(fx-dark, 20%);
    -fx-border-width: 0 0 3 0;
    -fx-text-fill: derive(fx-text-dark, -30%);
}

.tab:selected{
    -fx-background-color: derive(fx-theme, -20%);
    -fx-border-color: fx-theme;
     -fx-border-width: 0 0 3 0;
     fx-text-fill: fx-text-dark;
}

.tab-label {
    -fx-text-fill: fx-text-dark ;
    -fx-font-weight: bold;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-pref-height: 35
}

.tab:hover{
    -fx-background-color: derive(fx-theme, -30%);
    -fx-text-fill: -fx-text-base-color;
}

.tab-pane > .tab-header-area > .tab-header-background{
       -fx-background-color: -fx-base;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.scroll-pane .viewport{
    -fx-background-color: fx-dark;
}

.scroll-bar > .thumb{
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

.scroll-bar {
    -fx-unit-increment: 10 ;
    -fx-block-increment: 50 ;
}


.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}


.text-area {
    text-area-background: derive(fx-dark, 7%), -fx-control-inner-background;
    -fx-background-color: transparent;
    -fx-border-color:derive(-fx-base, 20%);
    -fx-border-width: 1 1 1 1;
    -fx-background-insets: 0;
    -fx-font-size: 14px;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

.text-field {
    -fx-background-color: derive(fx-dark, 10%);
}

.separator:horizontal *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #5D5D5D;
}

.jfx-slider > .colored-track {
    -fx-background-color : fx-theme;
}


.jfx-slider > .animated-thumb {
    -fx-background-color: transparent;
}


.jfx-slider .slider-value {
    -fx-fill: transparent;
    -fx-stroke: transparent;
}


.progress-indicator:indeterminate{

    -fx-progress-color: fx-theme
}

.progress-indicator:indeterminate > .spinner{
     -fx-background-color: fx-dark;
}

.progress-bar{
    -fx-accent: fx-theme ;
}

.progress-bar > .track {
     -fx-background-color: fx-light;
}

.progress-bar .bar {
    -fx-padding: 8px;
    -fx-background-insets: 0;
}

.default-color0.chart-bar { -fx-bar-fill: #25b862; }

.popover > .border  {
    -fx-border-style: none;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-fill: #3D3D3D !important;
}

.menu-bar {
    -fx-background-color: fx-dark ;
}

.tooltip {
    -fx-show-delay: 250ms;
}

.split-pane{
    -fx-background-color: fx-dark ;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: fx-darker;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: fx-darker;
}

.tsp-icon {
    -size: 20;
 -fx-shape: "M 727.09,503.64 C 727.09,503.64 667.23,503.64 667.23,503.64 667.23,503.64 667.23,472.93 667.23,472.93 667.23,464.65 660.52,457.93 652.23,457.93 652.23,457.93 620.37,457.93 620.37,457.93 621.19,450.63 619.50,443.01 615.00,436.44 609.31,428.17 453.85,202.07 453.85,202.07 442.19,185.16 425.84,177.65 408.11,177.65 408.11,177.65 287.20,177.65 287.20,177.65 272.08,177.65 255.19,183.92 245.03,197.78 245.03,197.78 172.60,296.94 156.48,318.89 151.72,325.37 149.86,333.06 150.44,340.48 150.44,356.41 150.40,436.76 150.33,461.23 150.31,478.89 164.59,493.14 182.13,493.14 199.74,493.19 214.09,478.92 214.15,461.31 214.15,453.82 214.15,383.06 214.22,347.98 223.57,335.21 241.65,310.53 260.02,285.46 260.02,285.46 260.02,438.01 260.02,438.01 260.02,472.69 264.48,501.08 282.10,527.01 335.48,604.85 504.48,851.64 515.20,867.44 528.37,886.81 554.66,891.82 574.04,878.66 593.37,865.49 598.38,839.12 585.27,819.87 582.03,815.11 546.07,762.61 500.13,695.57 500.13,695.57 727.09,695.57 727.09,695.57 737.87,695.57 746.61,686.83 746.61,676.04 746.61,676.04 746.61,523.17 746.61,523.17 746.61,512.38 737.87,503.64 727.09,503.64 Z M 518.24,472.93 C 518.24,472.93 518.24,503.64 518.24,503.64 518.24,503.64 460.47,503.64 460.47,503.64 449.68,503.64 440.94,512.38 440.94,523.17 440.94,523.17 440.94,609.21 440.94,609.21 434.52,599.85 428.09,590.46 421.69,581.13 421.69,581.13 421.69,267.69 421.69,267.69 463.17,328.03 526.96,420.85 552.44,457.93 552.44,457.93 533.23,457.93 533.23,457.93 524.95,457.93 518.24,464.65 518.24,472.93 Z M 637.23,503.64 C 637.23,503.64 548.23,503.64 548.23,503.64 548.23,503.64 548.23,487.93 548.23,487.93 548.23,487.93 637.23,487.93 637.23,487.93 637.23,487.93 637.23,503.64 637.23,503.64 Z M 266.72,76.54 C 266.72,118.88 301.03,153.18 343.35,153.18 385.65,153.18 419.94,118.88 419.94,76.54 419.94,34.25 385.65,0.00 343.35,0.00 301.03,0.00 266.72,34.25 266.72,76.54 Z M 146.72,819.87 C 133.55,839.12 138.61,865.49 157.96,878.66 177.28,891.82 203.61,886.81 216.72,867.44 223.29,857.85 289.49,760.94 353.86,666.36 353.86,666.36 302.49,591.37 302.49,591.37 228.22,700.49 151.63,812.57 146.72,819.87 Z";
}


.layout-icon {
    -size: 20;
 -fx-shape: "M 51.60,367.08 C 51.60,322.90 87.41,287.08 131.60,287.08 175.78,287.08 211.60,322.90 211.60,367.08 211.60,411.26 175.78,447.08 131.60,447.08 87.41,447.08 51.60,411.26 51.60,367.08 Z M 117.21,345.06 C 117.21,345.06 347.26,115.01 347.26,115.01 347.26,115.01 387.86,155.62 387.86,155.62 387.86,155.62 157.81,385.67 157.81,385.67 157.81,385.67 117.21,345.06 117.21,345.06 Z M 287.06,129.16 C 287.06,84.98 322.88,49.16 367.06,49.16 411.24,49.16 447.06,84.98 447.06,129.16 447.06,173.35 411.24,209.16 367.06,209.16 322.88,209.16 287.06,173.35 287.06,129.16 Z M 239.69,415.75 C 232.14,413.78 227.67,406.18 229.71,398.78 229.71,398.78 231.62,391.84 231.62,391.84 233.66,384.44 241.43,380.03 248.98,382.00 248.98,382.00 348.78,408.02 348.78,408.02 356.33,409.99 360.80,417.58 358.76,424.99 358.76,424.99 356.85,431.93 356.85,431.93 354.81,439.33 347.04,443.73 339.49,441.77 339.49,441.77 239.69,415.75 239.69,415.75 Z M 418.63,429.84 C 432.78,443.83 430.13,453.45 410.69,458.68 410.69,458.68 362.57,471.64 362.57,471.64 343.12,476.88 336.05,469.88 341.34,450.65 341.34,450.65 354.44,403.06 354.44,403.06 359.74,383.83 369.46,381.21 383.61,395.21 383.61,395.21 418.63,429.84 418.63,429.84 Z M 258.69,77.78 C 266.27,79.62 270.87,87.13 268.96,94.57 268.96,94.57 267.17,101.54 267.17,101.54 265.26,108.98 257.57,113.52 249.99,111.68 249.99,111.68 149.75,87.41 149.75,87.41 142.17,85.57 137.57,78.05 139.48,70.62 139.48,70.62 141.27,63.64 141.27,63.64 143.18,56.21 150.87,51.67 158.45,53.50 158.45,53.50 258.69,77.78 258.69,77.78 Z M 80.38,67.68 C 65.99,53.94 68.46,44.28 87.82,38.70 87.82,38.70 135.70,24.91 135.70,24.91 155.05,19.33 162.25,26.21 157.29,45.53 157.29,45.53 145.02,93.33 145.02,93.33 140.06,112.65 130.39,115.44 116.00,101.70 116.00,101.70 80.38,67.68 80.38,67.68 Z";
}

.custom-icon{
    -fx-background-color: fx-text-dark;
}




